/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile {
 display:flex;
 justify-content:center;
 align-items: baseline;
}

.profile-image {
    display: grid;
    align-items: baseline;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px;
    gap: 15px;
    padding:100px
}

.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: contain;
}

.gallery-image {
    width: 100%;
    height:100%;
    object-fit: cover;
}